<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Midi-in devices</h3>
      </div>	
      <div class="panel-body">
	    <ul class="list-group">
		<li class="list-group-item" ng-repeat="(md,cfg) in midiInDevices track by $index">
		    <div class="row">
			<div class="col-xs-11">
			    <label class="control-label">
				<input type="checkbox" ng-model="cfg.connected" ng-change="reconnect()" /> 
				{{md}}			
			    </label>	      
			</div>
			
		    </div>		    		    		   
		</li>
	    </ul>
      </div>
    </div>
</div>